<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="spool-mapping.ZPM">
    <Module>
      <Name>spool-mapping</Name>
      <Version>1.0.0</Version>
      <Description>local mapping of ^SPOOL global</Description>
      <Keywords>TCOS, Mapping, SPOOL</Keywords>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
       <Resource Name="User.PKG"/>
    </Module>
  </Document>
</Export>
